doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
  body
    h1=singer.name
    p Age: #{singer.age}
    p Gender: #{singer.gender}
    p Genre: #{singer.genre}
    
